body {
  font-family: 'Oxygen', sans-serif;
  background: #d5d2ff;
}

.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #ccc;
  padding: 5px;
}

.tabs .active {
  background: white;
  border: 1px solid black;
  border-bottom-width: 0;
}

.content .tab {
  display: none; 
}

.content .active {
  display: block;
  background: #d5d2ff;
}




.left {
    background-color: #eeeeee;
    float: left;
    outline: 1px solid white;
    width: 40%;
    margin:4px 20px;
    padding: 0 0 0 10px;
}

.right {
    background-color: #dddddd;
    outline: 1px solid white;
    margin:8px 5px;
    margin-left: 40%;
}

#toDo .left {
 
}